<!-- <h1>Hello world</h1>
<h2>I am a beginner</h2>
<app-home></app-home> -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"> home </a></li>
    <li>
      <a routerLink="/templateForm" routerLinkActive="active"> templateForm </a>
    </li>
    <li>
      <a routerLink="/reactiveForm" routerLinkActive="active">reactive form</a>
    </li>
    <li><a routerLink="/getData" routerLinkActive="active"> Get Data </a></li>
    <li><a routerLink="/postData" routerLinkActive="active"> Post Data </a></li>
    <li><a routerLink="/module" routerLinkActive="active"> module </a></li>
    <li><a routerLink="/product" routerLinkActive="active"> product </a></li>
    <li><a routerLink="**" routerLinkActive="active"></a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'admin'"><p>Admin is logged in</p></li>
  <li *ngSwitchCase="'user'"><p>User is logged in</p></li>
  <li *ngSwitchDefault><p>Please enter a valid login name</p></li>
</ul>
